paths:
  finanacebench: data/finanacebench
  raw_dir: data/pdfs
  elements_dir: data/processed/elements
  chunks_dir: data/processed/chunks
  embed_dir: data/processed/embeddings
  logs_dir: data/log

# /src/graph/nodes/elements.py
partitioning:
  strategy: hi_res
  hi_res_model: yolox
  languages:
    - eng
  infer_table_structure: true

cleaning:
  apply_unicode_quotes: true
  apply_clean: true
  clean_options:
    bullets: true
    extra_whitespace: true
    dashes: true
    trailing_punctuation: false
    lowercase: false

# /src/graph/nodes/chunks.py
chunking:
  min_chars: 2048

# /src/graph/nodes/embed.py
embedding:
  model_name: Qwen/Qwen3-Embedding-4B
  batch_size: 8
  normalize_embeddings: true
  vector_dimension: 2560
  use_promts: true
  promts:
    doc: passage
    query: query

# /src/graph/nodes/vectordb.py
vectordb:
  init:
    host: localhost
    port: 8080
    grpc_port: 50051
    skip_init_checks: true
  upload:
    batch_size: 100
    concurrent_requests: 4
    upsert: true

# /src/graph/nodes/retrieve.py
qa:
  topk: 10

# /src/graph/nodes/generate.py
generate:
  provider: ollama
  model_name: qwen3:8b
